{
  "openapi": "3.0.0",
  "info": {
    "title": "Deadlock AfterMatch API",
    "version": "1.0.1",
    "description": "REST API for Deadlock AfterMatch: Steam player resolution, match retrieval, match analysis, trends, metadata, favorites, and auth/session operations.",
    "contact": {
      "name": "Support",
      "email": "contact@aftermatch.xyz"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.aftermatch.xyz",
      "description": "Production API Server"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local Development Server"
    }
  ],
  "externalDocs": {
    "description": "Deadlock AfterMatch",
    "url": "https://www.aftermatch.xyz"
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "aftermatch.sid"
      },
      "csrfToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-csrf-token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "redis": {
            "type": "string"
          },
          "redisRequired": {
            "type": "boolean"
          },
          "uptime": {
            "type": "integer"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CsrfResponse": {
        "type": "object",
        "required": [
          "csrfToken"
        ],
        "properties": {
          "csrfToken": {
            "type": "string"
          }
        }
      },
      "PlayerResolveRequest": {
        "type": "object",
        "required": [
          "steamInput"
        ],
        "properties": {
          "steamInput": {
            "type": "string",
            "minLength": 2,
            "description": "Steam ID, Steam vanity name, profile URL, or custom URL."
          }
        }
      },
      "MatchSummary": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "match_id": {
            "type": "integer"
          },
          "hero_id": {
            "type": "integer"
          },
          "start_time": {
            "type": "integer"
          },
          "match_duration_s": {
            "type": "integer"
          },
          "player_kills": {
            "type": "integer"
          },
          "player_deaths": {
            "type": "integer"
          },
          "player_assists": {
            "type": "integer"
          },
          "net_worth": {
            "type": "integer"
          }
        }
      },
      "AnalysisRequest": {
        "type": "object",
        "required": [
          "matchId",
          "accountId"
        ],
        "properties": {
          "matchId": {
            "type": "integer",
            "minimum": 0
          },
          "accountId": {
            "type": "integer",
            "minimum": 0
          },
          "refresh": {
            "type": "boolean",
            "description": "Bypass cached analysis when supported."
          }
        }
      },
      "AnalysisResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "meta": {
            "type": "object",
            "additionalProperties": true
          },
          "overall": {
            "type": "object",
            "properties": {
              "impactScore": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "letterGrade": {
                "type": "string"
              }
            }
          },
          "modules": {
            "type": "object",
            "additionalProperties": true
          },
          "insights": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "PlayerProfile": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "accountId": {
            "type": "integer"
          },
          "rank": {
            "type": "object",
            "additionalProperties": true
          },
          "stats": {
            "type": "object",
            "additionalProperties": true
          },
          "topHeroes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrendResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "accountId": {
            "type": "integer"
          },
          "sampleSize": {
            "type": "integer"
          },
          "overallTrend": {
            "type": "string"
          },
          "timeline": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "FavoriteRequest": {
        "type": "object",
        "required": [
          "type",
          "targetId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "player",
              "match"
            ]
          },
          "targetId": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Utility",
      "description": "Health, CSRF, cron, and operational endpoints."
    },
    {
      "name": "Players",
      "description": "Steam resolution, player profile, match history, and rank timelines."
    },
    {
      "name": "Matches",
      "description": "Match detail and metadata retrieval."
    },
    {
      "name": "Analysis",
      "description": "Match analysis pipeline and cached reports."
    },
    {
      "name": "Trends",
      "description": "Aggregated performance trends over recent analyses."
    },
    {
      "name": "Metadata",
      "description": "Heroes, items, and ranks."
    },
    {
      "name": "Authentication",
      "description": "Steam login and session endpoints."
    },
    {
      "name": "Favorites",
      "description": "Authenticated user favorite players and matches."
    },
    {
      "name": "Users",
      "description": "Authenticated user preferences."
    }
  ],
  "paths": {
    "/api/analysis/run": {
      "post": {
        "summary": "Trigger full match analysis pipeline",
        "tags": [
          "Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis complete or retrieved from cache",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/analysis/{matchId}/{accountId}": {
      "get": {
        "summary": "Retrieve cached analysis result",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cached analysis payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/auth/steam": {
      "get": {
        "summary": "Initiate Steam login",
        "description": "Redirects user to Steam OpenID authentication page",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Redirect to Steam login page"
          }
        }
      }
    },
    "/api/auth/steam/return": {
      "get": {
        "summary": "Steam login callback",
        "description": "Handles Steam OpenID callback and creates user session",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Redirect to application home page with session"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "summary": "Get current user profile",
        "description": "Returns the authenticated user's profile information",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "steamId": {
                      "type": "integer"
                    },
                    "username": {
                      "type": "string"
                    },
                    "avatar": {
                      "type": "string"
                    },
                    "isPremium": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout user",
        "description": "Destroys the user session and logs them out",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully logged out"
          }
        }
      }
    },
    "/api/auth/favorites": {
      "get": {
        "summary": "Get user favorites",
        "description": "Returns all favorited players and matches for the authenticated user",
        "tags": [
          "Favorites"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "player",
                "match"
              ]
            },
            "description": "Filter by favorite type"
          }
        ],
        "responses": {
          "200": {
            "description": "List of favorites"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      },
      "post": {
        "summary": "Add to favorites",
        "description": "Add a player or match to user favorites",
        "tags": [
          "Favorites"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "targetId"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "player",
                      "match"
                    ]
                  },
                  "targetId": {
                    "type": "integer"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorite added successfully"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/auth/favorites/{type}/{targetId}": {
      "delete": {
        "summary": "Remove from favorites",
        "description": "Remove a player or match from user favorites",
        "tags": [
          "Favorites"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "player",
                "match"
              ]
            }
          },
          {
            "in": "path",
            "name": "targetId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite removed successfully"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/auth/settings": {
      "put": {
        "summary": "Update user settings",
        "description": "Update the authenticated user's settings",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "theme": {
                    "type": "string"
                  },
                  "notifications": {
                    "type": "object"
                  },
                  "privacy": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated successfully"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/cron/sync": {
      "get": {
        "summary": "Trigger background match synchronization for active accounts.",
        "tags": [
          "Utility"
        ],
        "responses": {
          "200": {
            "description": "Sync result"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Lightweight API health check",
        "tags": [
          "Utility"
        ],
        "responses": {
          "200": {
            "description": "API router is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/csrf": {
      "get": {
        "summary": "Issue a CSRF token for state-changing requests",
        "tags": [
          "Utility"
        ],
        "responses": {
          "200": {
            "description": "CSRF token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CsrfResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/matches/{matchId}": {
      "get": {
        "summary": "Fetch full match information",
        "tags": [
          "Matches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full match data object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/matches/{matchId}/metadata": {
      "get": {
        "summary": "Fetch match metadata with CDN salt",
        "tags": [
          "Matches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Match metadata (salt, cluster_id, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/meta/heroes": {
      "get": {
        "summary": "List known Deadlock heroes",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Hero metadata list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/meta/items": {
      "get": {
        "summary": "List known Deadlock items",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Item metadata list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/meta/ranks": {
      "get": {
        "summary": "List Deadlock rank metadata",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Rank metadata list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/players/resolve": {
      "post": {
        "summary": "Resolve Steam input (URL, ID, Vanity) to account IDs",
        "tags": [
          "Players"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved player IDs and basic info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/players/{accountId}/matches": {
      "get": {
        "summary": "Fetch match history for a player",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent matches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/players/{accountId}/sync": {
      "post": {
        "summary": "Trigger manual match history refresh from API",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manual sync result"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/players/{accountId}/mmr-history": {
      "get": {
        "summary": "Longitudinal MMR / rank-predict timeline",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rank prediction timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/players/{accountId}/profile": {
      "get": {
        "summary": "Unified player profile — rank, career stats, top heroes",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unified player profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/trends/{accountId}": {
      "get": {
        "summary": "Get trend analysis for a player",
        "description": "Aggregates recent match analyses to compute rolling averages and trajectory for performance, itemization, and economy metrics.",
        "tags": [
          "Trends"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The player's Steam32 account ID"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of recent matches to analyze (default 10, max 30)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful trend aggregation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  }
}
